<ion-modal-view  id="index" style="width: 90%; height: 90%; top: 5%; left: 5%; right: 5%; bottom: 5%;">
			
			<ion-content id="db9_popup" scroll="true" >
			<!-- <img src="/img/popup_info.jpg" width="90%" style="text-align:center!important"> -->
			
			<div >
					<div class="pad">
						<nav><a ng-click="closeModal3()"  id="db9_popup_close"></a></nav>
						<h1>Bliską pożyczkę odbierzesz szybko i łatwo</h1>
						<ol id="db9_popup_steps">
							<li>
								<figure><img src="/assets/images/popup/krok_1.png" alt /></figure>
								<strong>KROK 1</strong>
								<p>Wybierasz punkt w pobliżu miejsca gdzie się znajdujesz.</p>
							</li>
							<li>
								<figure><img src="/assets/images/popup/krok_2.png" alt /></figure>
								<strong>KROK 2</strong>
								<p>Zamawiasz pożyczkę.</p>
							</li>
							<li>
								<figure><img src="/assets/images/popup/krok_3.png" alt /></figure>
								<strong>KROK 3</strong>
								<p>Idziesz do punktu, gdzie czeka na Ciebie Twój doradca.</p>
							</li>
						</ol>
					</div>
					<footer id="db9_popup_footer" class="pad">
						<div style="float:left;">
							<h3>CERTYFIKATY</h3>
							<ul>
								<li><img src="/assets/images/popup/jakosc.png" alt /></li>
								<li><img src="/assets/images/popup/banking-magazine.png" alt /></li>
								<li><img src="/assets/images/popup/odpowiedzialnosc.png" alt /></li>
								<li><img src="/assets/images/popup/secure.png" alt /></li>
							</ul>
						</div>
						<div style="float:right;">
							<h3>PARTNERZY PREMIUM</h3>
							<ul>
								<li><img src="/assets/images/popup/fines.png" alt /></li>
							</ul>
						</div>
					</footer>
				</div>
			</ion-content>
			
</ion-modal-view>