<ion-view title="Regulamin serwisu">

 <ion-content >
  <ion-scroll direction="y" style="height:{{screenformheight}}px">



<div style="padding:20px!important;color:#555555!important">
<h3>Regulamin serwisu BliskaPozyczka.pl</h3>
<h4>1. Postanowienia wstępne </h4>
<pre>

1.	Regulamin określa zasady świadczenia przez spółkę HappyProject Sp. z o.o. na rzecz Użytkowników usługi polegającej na umożliwieniu wysłania wniosków pożyczkowych do punktów pożyczkowych, oraz na rzecz Partnerów usługi polegającej na umożliwieniu publikacji informacji o punkcie pożyczkowym w postaci Ogłoszenia.

2.	Warunkiem uzyskania dostępu do funkcjonalności BliskaPozyczka.pl jest skorzystanie z urządzenia komunikującego się z Internetem i wyposażonego w powszechnie używaną przeglądarkę internetową.

</pre>

<h4>2. Definicje</h4>

<pre>

Użyte w niniejszym Regulaminie terminy oznaczają odpowiednio:

Operator — spółka HappyProject sp. z o. o. z siedzibą w Opolu (ul. 1 maja 94/1, 45-357 Opole), wpisana do rejestru przedsiębiorców prowadzonego przez Sąd Rejonowy dla Wrocławia-Fabrycznej we Wrocławiu, VI Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem KRS: 0000467464, NIP: 8992744899, z którym użytkownik może kontaktować się za pośrednictwem poczty elektronicznej, pod adresem kontakt@bliskapozyczka.pl;

Serwis BliskaPozyczka.pl albo Serwis – serwis internetowy znajdujący się w sieci internet pod adresem https://BliskaPozyczka.pl prowadzony przez Operatora w języku polskim, umożliwiający wysyłanie wniosków pożyczkowych drogą elektroniczną do podmiotów świadczących usługi finansowe;

Użytkownik — osoba fizyczna, która ukończyła 18 lat i posiada pełną zdolność do czynności prawnych, osoba prawna lub jednostka organizacyjna nieposiadająca osobowości prawnej, ale mogąca we własnym imieniu nabywać prawa i zaciągać zobowiązania, która w trybie przewidzianym w Regulaminie korzysta z Serwisu;

Partner — podmiot gospodarczy lub osoba fizyczna, która ukończyła 18 lat i posiada pełną zdolność do czynności prawnych, osoba prawna lub jednostka organizacyjna nieposiadająca osobowości prawnej, ale mogąca we własnym imieniu nabywać prawa i zaciągać zobowiązania, która w trybie przewidzianym w Regulaminie korzysta z Serwisu w celu zamieszczenia informacji o punkcie pożyczkowym;

Ogłoszenie — sporządzony przez Partnera zbiór danych opisowych faktycznego punktu świadczącego usługi finansowe oraz parametrów świadczonych usług finansowych, zamieszczany w Serwisie, na warunkach przewidzianych w Regulaminie; Ogłoszenie jest w Serwisie reprezentowane w postaci punktu na mapie wraz z danymi opisowymi pojawiającymi się po najechaniu lub aktywacji punktu; Ogłoszenie stanowi punkt kontaktu pomiędzy Użytkownikiem a Partnerem – wskazując dane ogłoszenie Użytkownik ma możliwość złożenia wniosku pożyczkowego do Partnera

Regulamin – niniejszy regulamin;

</pre>
<h4>3. Ogólne warunki korzystania z Serwisu </h4>
<pre>

1.	Ogłoszenia pochodzą od Partnerów, którzy samodzielnie ustalają ich treść. Treść danych o punkcie pożyczkowym i ofercie pożyczkowej, które są prezentowane w Ogłoszeniu, musi być zgodna ze stanem faktycznym.

2.	Zamieszczenie Ogłoszenia powinno odzwierciedlać rzeczywisty zamiar świadczenia przez Partnera usługi finansowej dla Użytkowników.

3.	Ogłoszenia dostępne są dla wszystkich użytkowników Internetu. 

4.	Jedno Ogłoszenie może dotyczyć tylko jednego fizycznego punktu pożyczkowego. 

5.	Publikacja Ogłoszenia jest płatna, zgodnie z cennikiem zamieszczonym w Serwisie. 

6.	Partner jest odpowiedzialny za publikowane treści (w tym zdjęcia) i gwarantuje, że są one zgodne ze stanem faktycznym oraz prawem a ich publikacja nie narusza praw Operatora, Regulaminu oraz praw osób trzecich, w tym praw autorskich.

7.	Treść Ogłoszenia powinna w jasny sposób nawiązywać do punktu pożyczkowego i oferty pożyczkowej, opisywać je dokładnie, rzetelnie i kompletnie oraz nie może wprowadzać w błąd Użytkowników, w szczególności co do parametrów oferty i warunków świadczenia usług. Zabronione jest przekazywanie powyższych informacji poza Serwisem.

8.	Operator ma prawo nieodpłatnie publikować fragmenty lub całość Ogłoszenia w ramach prowadzonych działań marketingowych w mediach, w szczególności w prasie, innych serwisach internetowych, telewizji i radio.

9.	Partner, zgadzając się na emisję Ogłoszenia w Serwisie, wyraża jednocześnie zgodę na równoległą jego publikację przez Operatora oraz publikację przez Operatora elementów Ogłoszenia (w tym zdjęć zawartych w Ogłoszeniu). Publikacja Ogłoszenia przez Operatora w zewnętrznych kanałach marketingowych nie wiąże się z żadnymi opłatami Operatora względem Partnera i służy pozyskaniu jak największej liczby potencjalnych odbiorców Serwisu i Ogłoszenia.

10.	Operator chroni dane Użytkowników zgodnie polityką prywatności.

</pre>
<h4>4. Zamieszczanie i edycja Ogłoszeń </h4>
<pre>

1.	Zamieszczenie przez Partnera Ogłoszenia w Serwisie wymaga:

a)	wypełnienia formularza dostępnego na stronach Serwisu, w tym umieszczenia treści Ogłoszenia (tj. wypełnienia co najmniej pól oznaczonych jako obowiązkowe), a następnie
b)	wniesienia opłaty za pośrednictwem dostępnego na stronach Serwisu systemu obsługi płatności elektronicznych lub w inny sposób uzgodniony z Operatorem

2.	Emisja Ogłoszenia w Serwisie rozpoczyna się po jego pozytywnej weryfikacji przez Operatora, nie później niż 24 godziny po wniesieniu opłaty, o której mowa w pkt. 1 b)

3.	W przypadku negatywnej weryfikacji ogłoszenia przez Operatora, podejmuje on próbę wyjaśnienia spornych części zgłoszenia z Partnerem, a w przypadku braku porozumienia w tym zakresie dokonuje zwrotu całości opłaty wniesionej zgodnie z pkt. 1 b) w terminie 7 dni, na konto wskazane przez Partnera.

4.	Ogłoszenie nie może zawierać treści niezwiązanych ze świadczonymi usługami finansowymi.

5.	W okresie emisji Ogłoszenia Partner może modyfikować treść Ogłoszenia i jego, usunąć Ogłoszenie, a także dokonać wyboru opcji przedłużenia czasu emisji Ogłoszenia. 

6.	W celu edycji treści Ogłoszenia Partner powinien skontaktować się pocztą elektroniczną pod adres kontakt@bliskapozyczka.pl i wskazać dane do modyfikacji. Po weryfikacji zgodności nowych danych z Regulaminem, Operator zobowiązany jest do niezwłocznej aktualizacji danych.

7.	W celu usunięcia Ogłoszenia Partner powinien skontaktować się pocztą elektroniczną pod adres kontakt@bliskapozyczka.pl i wskazać życzenie usunięcia Ogłoszenia. Operator zastrzega możliwość weryfikacji takiego zgłoszenia drogą telefoniczną. Usunięcie ogłoszenia na wniosek Partnera w trakcie trwania opłaconego okresu publikacji nie skutkuje zwrotem jakichkolwiek poniesionych przez Partnera kosztów na publikację i Partnerowi nie przysługuje prawo dochodzenia poniesionych kosztów za czas emisji, ani za czas niewykorzystany.

8.	Przedłużenie czasu emisji Ogłoszenia następuje niezwłocznie po wniesieniu opłaty za kolejny okres publikacji, za pośrednictwem systemu płatności dostępnego w Serwisie.

9.	Po upływie opłaconego czasu emisji Ogłoszenia zostaje ono niezwłocznie zdjęte z publikacji w Serwisie.

10.	Operator nie ponosi odpowiedzialności za jakość i prawdziwość danych podawanych przez Użytkowników Serwisu we wnioskach pożyczkowych kierowanych do Partnerów, ani za jakiekolwiek nieprawidłowości w relacjach Użytkownika z Partnerem na skutek kontaktu nawiązanego za pośrednictwem Partnera. W szczególności Partnerowi nie przysługuje prawo do jakichkolwiek roszczeń względem Operatora z tytułu nienależytej realizacji umowy zawartej pomiędzy Użytkownikiem a Partnerem na skutek kontaktu dokonanego przez Operatora.

11.	Operator ma prawo do usunięcia Ogłoszenia Partnera w przypadku stwierdzenia naruszenia Regulaminu lub w innych uzasadnionych przypadkach. W takim wypadku Partnerowi przysługuje zwrot części poniesionych kosztów emisji proporcjonalny do niewykorzystanego opłaconego czasu publikacji Ogłoszenia.

</pre>
<h4>5. Korzystanie z Serwisu przez Użytkowników </h4>
<pre>

1.	Operator umożliwia Użytkownikom składanie wniosków pożyczkowych do punktów pożyczkowych podanych w Ogłoszeniach.

2.	Użytkownik zobowiązuje się zamieszczania w składanych wnioskach pożyczkowych danych prawdziwych, odzwierciedlających stan faktyczny.

3.	Składając wniosek pożyczkowy za pośrednictwem Serwisu, Użytkownik wyraża zgodę na przekazanie danych osobowych, kontaktowych i innych danych zawartych w tym wniosku, do Partnera, do którego wniosek użytkownik kieruje.

4.	Operator nie ponosi odpowiedzialności za jakość usług świadczonych przez Partnerów na rzecz Użytkowników. W szczególności Użytkownikowi nie przysługuje prawo do jakichkolwiek roszczeń względem Operatora z tytułu nienależytej obsługi przez Partnera lub nienależytej realizacji umowy zawartej pomiędzy Użytkownikiem a Partnerem na skutek kontaktu dokonanego przez Operatora.

5.	Partner ma prawo odmówić obsługi wniosku Użytkownika bez podania przyczyn.

6.	Operator ma prawo odmówić przekazania wniosku Użytkownika do Partnera w przypadku uzasadnionego podejrzenia, że wniosek zawiera dane nieprawdziwe lub sprzeczne z Regulaminem lub w przypadku gdy wybrany Partner zgłosi Operatorowi czasowy brak możliwości obsługi wniosków lub z innych ważnych przyczyn.

7.	Operator ma prawo przekazać wniosek Użytkownika do innego Partnera niż wskazany we wniosku, w przypadku gdy wybrany przez Użytkownika Partner zgłosi Operatorowi czasowy brak możliwości obsługi wniosków.

</pre>
<h4>7. Postępowanie reklamacyjne </h4>

<pre>1.	Użytkownik oraz Partner może zgłaszać reklamacje dotyczące niewykonania bądź nienależytego wykonania przez Operatora usługi, w terminie 7 dni od dnia zaistnienia zdarzenia, którego dotyczy reklamacja.

2.	Reklamację można złożyć za pomocą korespondencji elektronicznej na adres: kontakt@bliskapozyczka.pl lub w formie listu poleconego przesłanego na adres: HappyProject sp. z o. o., ul. Hubska 44 D-3, 50-502 Wrocław z dopiskiem "reklamacja BliskaPozyczka.pl".

3.	Reklamacja powinna zawierać co najmniej: imię i nazwisko, adres e-mail Użytkownika lub Partnera, szczegółowy opis okoliczności uzasadniające reklamację, a także konkretne żądanie Użytkownika lub Partnera związane ze składaną reklamacją.

4.	Jeżeli podane w reklamacji dane lub informacje wymagają uzupełnienia, Operator przed rozpatrzeniem reklamacji, zwróci się do Użytkownika lub Partnera o jej uzupełnienie we wskazanym zakresie.

5.	Operator rozpoznaje reklamację w terminie 14 dni od daty otrzymania prawidłowo złożonej reklamacji. Użytkownik otrzyma informację o sposobie rozpatrzenia reklamacji drogą korespondencji elektronicznej lub listem poleconym.

</pre>
<h4>8. Postanowienia końcowe </h4>
<pre>

1.	Regulamin dostępny jest w Serwisie.

2.	O zmianie Regulaminu Operator poinformuje poprzez zamieszczenie informacji na stronie Serwisu. Zmiany wchodzą w życie w terminie wskazanym przez Operatora, nie krótszym jednak, niż 7 dni od dnia zamieszczenie informacji na stronie Serwisu. Usługi aktywowane przed wejściem w życie zmian będą wykonane na warunkach dotychczasowych, dalsze zaś aktywacje możliwe są na warunkach bieżących.

3.	O ile bezwzględnie obowiązujące przepisy prawa nie stanowią inaczej, prawem właściwym dla całości umowy pomiędzy Użytkownikiem a Operatorem oraz Partnerem a Operatorem, której przedmiotem jest świadczenie przez Operatora usług na warunkach określonych w Regulaminie, jest prawo polskie.

4.	Wszelkie spory związane z usługami świadczonymi przez Operatora w ramach Serwisu będą rozstrzygane przez właściwe polskie sądy powszechne.

5.	Użytkownicy będący konsumentami mają możliwość skorzystania z pozasądowego sposobu rozpatrywania reklamacji i dochodzenia roszczeń przed Stałym Polubownym Sądem Konsumenckim przy Wojewódzkim Inspektorze Inspekcji Handlowej we Wrocławiu. Informacje o sposobie dostępu do ww. trybu i procedur rozstrzygania sporów, znajdują się pod następującym adresem: www.uokik.gov.pl , w zakładce „Rozstrzyganie sporów konsumenckich”. 

</pre>
</div>
</ion-scroll>
</ion-content>
</ion-view>
