<ion-header-bar class="bar-stable">
						<h1 class="title">Rejestracja nowego punktu</h1>
</ion-header-bar>
<ion-content>	
<p style="padding:5px">
Proces rejestracji nowego punktu pożyczkowego jest bardzo prosty i szybki. Jeśli chcesz zarejestrować punkt, wprowadź wszystkie dane w formularzu obok. Szczególnie ważnym jest, aby wskazać <strong>poprawny numer telefonu oraz adres e-mail</strong>, gdyż to tymi kanałami będzie kierowana cała komunikacja z Twoim punktem, w tym wnioski pożyczkowe użytkowników.</p>
<p style="padding:5px">Po wypełnieniu danych o punkcie wybierz okres abonamentu. Masz gwarancję, że po dodaniu Twojego punktu będzie on widoczny stale dla użytkowników Bliskiej Pożyczki przez cały opłacony okres abonamentu. Na 10 dni przed końcem okresu abonamentowego przypomnimy Ci mailem, że o terminie zakończenia abonamentu.</p>
<p style="padding:5px">Punkt pojawi się na mapie Bliskich Pożyczek w przeciągu <strong>24 godzin</strong> od momentu dokonania opłaty abonamentowej. Jest to czas, który rezerwujemy na weryfikację zgłoszeń oraz włączenie punktu do systemu.</p>
<p style="padding:5px">Jeśli napotkasz na jakiekolwiek problemy lub wątpliwości podczas rejestracji punktu, możesz skontaktować się z nami pisząc maila na adres <strong>kontakt@bliskapozyczka.pl</strong> lub dzwoniąc pod numer <strong>664 792 120</strong>. Niezwłocznie Ci pomożemy.</p>

</ion-content>
<ion-footer-bar class="bar-dark">
							<button class="button button-block button-calm " style="margin-top:0px;padding:0px!important" onclick="window.location.href='/#!/pozyczka/home';"><i class="ion-arrow-left-c"></i>  Powrót do mapy</button>
			</ion-footer-bar>	